extends ../masterView.pug

block otherstyles
block description
  meta(name="description", content=description)
  meta(name="keywords", content=keywords)
block robots
  meta(name="robots", content= "index")
block title
  title=title
block bodycontent
  -{data, entity}  
    include ./mixins.pug
    .flexButtonLinkLayout
      h1 The #{entity.name} Blog
      .itemGroup
        .col1
          h3.backendh3.noMargin Filter by topic:
          if(data)
            +distinctType(data, "topics", "topics")
      h3 Posts: 
      .emphasis Click on a card to read the corresponding post.
      .itemGroup
        each val in data
          -if(val.title && val.title.length > 0)
            -if(val.content && val.content.find(e => e.el === 'video'))      
              -let t = val.content.find(e => e.el === 'video')
              .itemprofile(data-topics=val.topics data-title=val.title)
                h4.fetchpost #{val.title}
                -if(t && t.cont)
                  -let src = (t.cont.includes('8080')) ? t.cont.split('8080')[1] : t.cont;
                  video(src=src controls autoplay muted).fetchpost
                  
            -else if(val.content && val.content.find(e => e.el === 'img'))
              -let t = val.content.find(e => e.el === 'img')
              .itemprofile(data-topics=val.topics data-title=val.title)
                h4.fetchpost #{val.title}
                -if(t && t.cont)
                  -let src = (t.cont.includes('8080')) ? t.cont.split('8080')[1] : t.cont;
                  img(src=src alt="First picture of " + val.title + " blog.").fetchpost
            -else
              .itemprofile(data-topics=val.topics data-title=val.title)
                h4.fetchpost #{val.title}
      .col1.postview.hide
        h3 Post title: 
        input(type='text').title
        h3 Post content: 
        .content
        h3 Post description: 
        input(type='text').description  
      block postcontent
        
block modals
  
block pagespecificscripts
