mixin clientDetails(dets, cartcode)
  h3 Your contact details and chosen shipping address: 
  .simpleFlexRow
    .flexBy200
      h4 Contact: 
      p Name: #{dets.clientname}
      p Phone: #{dets.countrycode} #{dets.phone}
      p Email: #{dets.email}
      p 
        b Your order code: #{cartcode}
      p
        b Your client code: #{dets.clientcode}
      
    .flexBy200
      h4 Postal address:
      p #{dets.addressline1}
      p #{dets.addressline2}
      p #{dets.addresscity}
      p #{dets.addressprovince}
      b #{dets.addresspostcode}
      p #{dets.country}
      
    .flexBy200
      h4 Invoice address:
      if dets.clientinvoicename
        p #{dets.clientinvoicename}
        p VAT number: #{dets.clientvatnumber}
        p #{dets['addressline1-invoice']}
        p #{dets['addressline2-invoice']}
        p #{dets['addresscity-invoice']}
        p #{dets['addressprovince-invoice']}
        p #{dets['addresspostcode-invoice']}
        p #{dets['country-invoice']}
      else        
        p #{dets.addressline1}
        p #{dets.addressline2}
        p #{dets.addresscity}
        p #{dets.addressprovince}
        p #{dets.addresspostcode}
        p #{dets.country}
      
mixin cartItems(d, i, currency)
  -
  -let price = (d.price / 100).toFixed(2);
  -let vat = (d.price * ( d.tax / 100 ) / 100).toFixed(2);
  -let image = (d['image links'] && d['image links'][0]) ? d['image links'][0]: 'no image';
  
  .flexBy350
    h3 Item #{i}
    .simpleFlexRow(data-pattern=d._id.pattern data-itemType=d._id.type data-items=JSON.stringify(d.items))
      .flexBy10em.itemImage
        -if(d['image links'] && d['image links'].length > 0)
          img(src=d['image links'][0] alt="Image of "+d.name +" with " + d.theme.name)  
        -let dimensions = (d['item type'].dimensions) ? d['item type'].dimensions.toString().replace(/,/g, ' x ') + ' mm' : null; 
      .flexBy350
        p.
          #{d['item type'].name} with #{d.theme.name} design. #{d.description} 
        p.
          weight ~#{d['item type'].weight} g | dimensions ~#{dimensions}
        
        p 
          em Price: #{currency} #{price} with #{currency} #{vat} tax (V.A.T.) charged at #{d.tax}%
         
      
mixin summary(summary, currency, status)
  h3 Summary:  
  -let time = summary.orderPlaced;
  p Order placed: #{time}
  .alertdiv Shipping on the next working day (mo-fr). You will be notified by e-mail the exact moment your order ships.
  -const price = (summary.price / 100).toFixed(2);
  .itemprofile.stockItems.displayFlex.backendbox
    h4 Total paid: #{currency} #{price} with tax.  
  
-{sale}

.orderConfirmationPage
  .printHeader
    img(src='/images/logos/roundText80px.png' alt='complex logo')
  h2.hideForPrint Your order: 
  +clientDetails(sale[0].clientDetails, sale[0].cart[0].cart.cartcode)  
  each item, j in sale[0].cartItems
    .simpleFlexRow
      +cartItems(item, j+1, sale[0].entity.currency)
  +summary(sale[0].summary, sale[0].entity.currency, sale[0].summary.status)  
  button.btngreen.bounceOnHover.printBtn Print or save this to .pdf.
  br
  .emphasis.hideForPrint A copy of this order confirmation will be sent to your e-mail. Your invoice will ship jointly with your order.

      
